In [69]:
import pandas as pd

In [70]:
df=pd.read_csv('./data.csv')

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 399 entries, 0 to 398
Data columns (total 61 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Mon-Yr           399 non-null    object
 1   CA               399 non-null    float64
 2   Alameda          399 non-null    float64
 3   Amador           229 non-null    float64
 4   Butte            399 non-null    float64
 5   Calaveras        267 non-null    float64
 6   Contra-Costa     207 non-null    float64
 7   Del Norte        171 non-null    float64
 8   El Dorado        171 non-null    float64
 9   Fresno           399 non-null    float64
 10  Glenn            207 non-null    float64
 11  Humboldt         399 non-null    float64
 12  Kern             399 non-null    float64
 13  Kings            207 non-null    float64
 14  Lake             351 non-null    float64
 15  Lassen           87 non-null     float64
 16  Los Angeles      399 non-null    float64
 17  Madera           183 non-null    float64
 18  Marin            399 non-null    float64
 19  Mariposa         243 non-null    float64
 20  Mendocino        397 non-null    float64
 21  Merced           399 non-null    float64
 22  Mono             220 non-null    float64
 23  Monterey         399 non-null    float64
 24  Napa             399 non-null    float64
 25  Nevada           267 non-null    float64
 26  Orange           399 non-null    float64
 27  Placer           399 non-null    float64
 28  Plumas           115 non-null    float64
 29  Riverside        399 non-null    float64
 30  Sacramento       399 non-null    float64
 31  San Benito       291 non-null    float64
 32  San Bernardino   399 non-null    float64
 33  San Diego        399 non-null    float64
 34  San Francisco    399 non-null    float64
 35  San Joaquin      382 non-null    float64
 36  San Luis Obispo  399 non-null    float64
 37  San Mateo        387 non-null    float64
 38  Santa Barbara    399 non-null    float64
 39  Santa Clara      399 non-null    float64
 40  Santa Cruz       398 non-null    float64
 41  Shasta           315 non-null    float64
 42  Siskiyou         375 non-null    float64
 43  Solano           350 non-null    float64
 44  Sonoma           399 non-null    float64
 45  Stanislaus       359 non-null    float64
 46  Sutter           204 non-null    float64
 47  Tehama           186 non-null    float64
 48  Tulare           323 non-null    float64
 49  Tuolumne         243 non-null    float64
 50  Ventura          399 non-null    float64
 51  Yolo             171 non-null    float64
 52  Yuba             204 non-null    float64
 53  Condo            399 non-null    float64
 54  LA Metro         399 non-null    float64
 55  Central Coast    315 non-null    float64
 56  Central Valley   171 non-null    float64
 57  Far North        87 non-null     float64
 58  Inland Empire    303 non-null    float64
 59  S.F. Bay Area    399 non-null    float64
 60  SoCal            339 non-null    float64
dtypes: float64(60), object(1)
memory usage: 190.3+ KB

### Scraping data for top 10 populus counties

In [72]:
pop=pd.read_excel("./Population_county.xlsx")

In [73]:
pop.iloc[:10,:3]

   Rank          County  Population
0   1.0     Los Angeles  10019635.0
1   2.0       San Diego   3296317.0
2   3.0          Orange   3182923.0
3   4.0       Riverside   2409331.0
4   5.0  San Bernardino   2171071.0
5   6.0     Santa Clara   1932022.0
6   7.0         Alameda   1673133.0
7   8.0      Sacramento   1571767.0
8   9.0    Contra Costa   1161643.0
9  10.0          Fresno   1003150.0

In [74]:
rates=df.loc[:,['Mon-Yr','Los Angeles','San Diego','Orange','Riverside','San Bernardino','Santa Clara','Alameda','Sacramento','Contra-Costa','Fresno']]

In [75]:
rates[rates['Contra-Costa'].isna()==True]['Mon-Yr']

0      Jan-90
1      Feb-90
2      Mar-90
3      Apr-90
4      May-90
        ...
187    Aug-05
188    Sep-05
189    Oct-05
190    Nov-05
191    Dec-05
Name: Mon-Yr, Length: 192, dtype: object

So, Until December 2005, there are no values for Contra-Costa

In [77]:
rates.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 399 entries, 0 to 398
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Mon-Yr          399 non-null    object
 1   Los Angeles     399 non-null    float64
 2   San Diego       399 non-null    float64
 3   Orange          399 non-null    float64
 4   Riverside       399 non-null    float64
 5   San Bernardino  399 non-null    float64
 6   Santa Clara     399 non-null    float64
 7   Alameda         399 non-null    float64
 8   Sacramento      399 non-null    float64
 9   Contra-Costa    207 non-null    float64
 10  Fresno          399 non-null    float64
dtypes: float64(10), object(1)
memory usage: 34.4+ KB

In [78]:
rates['Date']=pd.to_datetime(rates['Mon-Yr'],format="%b-%y")

In [79]:
rates=rates.drop(columns='Mon-Yr')

In [80]:
rates=rates.set_index('Date')

In [82]:
rates.to_csv('./Rates_Top_10_1.csv')

In [83]:
rates.transpose().to_csv('./Rates_Top_10.csv')

In [84]:
df['Date']=pd.to_datetime(df['Mon-Yr'],format="%b-%y")
df=df.drop(columns='Mon-Yr')
df=df.set_index('Date')
df.transpose().to_csv('./df_Top_10_2.csv')